<form class="login-form submit-once-form" action="{{formAction}}" method="POST">
  {{#if (isRegisterForm loginOrRegister)}}
    <div>
      <input type="text" name="username" {{#if user}}value="{{user.username}}"{{/if}} placeholder="Username" required  />
    </div>
  {{/if}}
  <div class="text-input">
    <input type="text" name="email" {{#if user}}value="{{user.email}}"{{/if}} placeholder="Email" required maxlength="254" />
  </div>
  <div class="text-input">
      <input
      class="password-input"
      type="password"
      name="password"
      placeholder={{#if user}}"Current Password"{{else}}"Password"{{/if}}
      required
    />
  </div>
  {{#if user}}
    <div>
      <input class="password-input" type="password" name="newPassword" placeholder="Updated Password" required />
    </div>
  {{/if}}
  <div class="password-utils">
    <div>
      <input
        class="show-password-checkbox"
        type="checkbox"
        onclick="togglePasswordType()"
      /><span class="show-password-msg">Show Password</span>
    </div>
    {{#unless (isRegisterForm loginOrRegister)}}
      <a class="forgot-password" href="/users/forgotPassword">Forgot Password?</a>
    {{/unless}}
  </div>
  {{#if (isRegisterForm loginOrRegister)}}
    <div class="radio-container">
      <label>Account Privacy</label>
      <div class="radio-container">
        <input type="radio" name="isPrivate" value="true" {{#if user}}{{#if user.isPrivate}}checked{{/if}}{{/if}} />Private
      </div>
      <div class="radio-container">
        <input type="radio" name="isPrivate" value="false" {{#if user}}{{#unless user.isPrivate}}checked{{/unless}}{{else}}checked{{/if}} />Public
      </div>
    </div>
  {{/if}}
  {{#if user}}
    <button class="form-submit-button submit-once-button" type="submit">Update</button>
    <div class="dummy-button hidden form-submit-button">Pending...</div>
    <button class="form-submit-button delete-button" formnovalidate="formnovalidate" type="submit" name="action" value="delete" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.')">Delete User</button>
  {{else}}
    <button
      class="form-submit-button submit-once-button"
      type="submit"
    >{{loginOrRegister}}</button>
    <div class="dummy-button hidden form-submit-button">Pending...</div>
  {{/if}}
</form>