<form class="login-form" action="{{formAction}}" method="POST">
  {{#if (isRegisterForm loginOrRegister)}}
  <div>
    {{#if user}}
        <label>Username</label>
        <input type="text" name="username" value="{{user.username}}" required/>
    {{else}}
        <label>Username</label>
        <input type="text" name="username" required />
    {{/if}}
  </div>
  {{/if}}
  <div class="text-input">
    {{#if user}}
      <label>Email</label>
      <input type="text" name="email" value="{{user.email}}" required />
    {{else}}
      <input type="text" name="email" placeholder="Email" required />
    {{/if}}
  </div>
  <div class="text-input">
      {{#if user}}
        <label>Current Password</label>
      {{/if}}
      <input id="password" type="password" name="password" placeholder="Password" required>
  </div>
  <div class="password-utils">
    <div>
      <input class="show-password-checkbox" type="checkbox" onclick="togglePasswordType()"><span class="show-password-msg">Show Password</span>
    </div>
    {{#unless (isRegisterForm loginOrRegister)}}
      <a class="forgot-password" href="/users/forgotPassword">Forgot Password?</a>
    {{/unless}}
  </div>
  {{#if user}}
    <div>
      <label>Updated Password</label>
      <input type="text" name="newPassword" required />
    </div>
  {{/if}}
  {{#if (isRegisterForm loginOrRegister)}}
    <div>
      <label>Account Type</label>
      {{#if user}}
        <input type="radio" name="isPrivate" value="true" {{#if user.isPrivate}}checked{{/if}} />Private
        <input type="radio" name="isPrivate" value="false" {{#unless user.isPrivate}}checked{{/unless}} />Public
      {{else}}
        <input type="radio" name="isPrivate" value="true" />Private
        <input type="radio" name="isPrivate" value="false" checked />Public
      {{/if}}
    </div>
  {{/if}}
  {{#if user}}
    <button type="submit">Update</button>
    <a href="/users/delete">Delete User</a>
  {{else}}
    <button class="form-submit-button" type="submit">{{loginOrRegister}}</button>
  {{/if}}
</form>