<h2>{{#if tripFile.title}}{{tripFile.title}} - {{/if}}{{uploadedBy}}</h2>
<h3>Date: {{convertReadableDate tripFile.userSetDate}}</h3>
{{> errorMessage}}
<img
  src="{{tripFile.imageURL}}"
  alt="{{tripFile.title}}"
  height="300"
  width="200"
/>
{{#if tripFile.description}}
  <div>
    <h3>Description: </h3>{{tripFile.description}}
  </div>
{{/if}}
<a href="/tripFolders/{{tripFolder.id}}/{{tripFile.id}}/editFile">Edit</a>
<a href="/tripFolders/{{tripFolder.id}}/{{tripFile.id}}/download">Download</a>
<a href="/tripFolders/{{tripFolder.id}}">Return</a>