<div class="folder-content-container">
    {{> tripFolderNav folderType="shared"}}
    <div class="folder-content-background">
      <div class="folder-content">
        <h1 class="trip-folder-page-title">Shared Folders</h1>
        {{#if errorMessage}}
          {{> errorMessage}}
        {{else}}
          <form autocomplete="off" class="search-form folder-search-form" action="/tripFolders/shared" method="GET">
            <div class="search-form-background">
              <input class="search-input" type="text" name="folderName" value="{{searchOptions.folderName}}" placeholder="Search folder name" />
              <button class="search-submit" type="submit">
                <span class="material-symbols-outlined search-symbol">search</span>
              </button>
            </div>
          </form>
          {{> folderPageHeader folderType="private"}}
          <ul class="folders-list">
            {{#each tripFolders}}
              <a href="/tripFolders/{{this.id}}">
                <li class="folder-list-item">
                  <div class="folder-name">
                    <span
                      class="material-symbols-outlined folder-list-icon"
                      style="font-variation-settings: 'FILL' 1;"
                    >
                      folder
                    </span>
                    <div class="ellipsis-overflow">
                      {{this.folderName}}
                    </div>
                  </div>
                  <p class="dimmed">{{convertReadableDate this.tripDate}}</p>
                  <p class="dimmed"><span class="material-symbols-outlined user-icon" style="font-variation-settings: 'FILL' 1;">account_circle</span>Me</p>
                </li>
              </a>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
</div>