<div class="folder-content-container">
  {{#if tripFolder.isShared}}
    {{> tripFolderNav folderType="shared"}}
  {{else}}
    {{> tripFolderNav folderType="private"}}
  {{/if}}
  <div class="folder-content-background">
    <div class="folder-content">
      <div class="folder-tree ellipsis-overflow">
        {{#if tripFolder.isShared}}
          <a class="folder-tree-return-link" href="/tripFolders/shared">Shared Folders</a>
        {{else}}
          <a class="folder-tree-return-link" href="/tripFolders/private">Private Folders</a>
        {{/if}}
        <span class="material-symbols-outlined chevron-icon">chevron_right</span>
        <h1 class="folder-tree-item ellipsis-overflow">{{tripFolder.folderName}}</h1>
      </div>
      <div class="trip-folder-nav-bar">
          <form id="filter-form" action="/tripFolders/{{tripFolder.id}}" method="GET">
            <select class="select-item" name="sortBy">
              <option value="">Sort</option>
              <option value="setDate" {{#if (equals sortBy "setDate")}}selected{{/if}}>Date</option>
              <option value="uploadDate" {{#if (equals sortBy "uploadDate")}}selected{{/if}}>Upload Date</option>
              <option value="title" {{#if (equals sortBy "title")}}selected{{/if}}>Title</option>
            </select>
            <select class="select-item" name="filterUser">
              <option value="">Users</option>
              {{#each usernames}}
                <option value="{{this}}" {{#if (equals ../filterUser this)}}selected{{/if}}>{{this}}</option>
              {{/each}}
            </select>
          </form>
          <div class="select-oval folder-select-oval">
            <a class="folder-nav-link-button" href="/tripFolders/{{tripFolder.id}}/addFile">
              <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">add</span>
              New File
            </a>
          </div>
          <div class="select-oval folder-select-oval">
            <a class="folder-nav-link-button" href="/tripFolders/{{tripFolder.id}}/addUser">
              <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">person_add</span>
              Add User
            </a>
          </div>
          <div class="select-oval folder-select-oval">
            <a class="folder-nav-link-button" href="/tripFolders/{{tripFolder.id}}/editFolder">
              <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">folder_managed</span>
              Edit
            </a>
          </div>
          {{#if tripFolder.isShared}}
            <form action="/tripFolders/{{tripFolder.id}}/removeUser?_method=PUT" method="POST" class="delete-form">
              <button class="folder-form-submit-button delete-button" type="submit">
                <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">group_remove</span>
                Leave
              </button>
            </form>
          {{else}}
            <form
              method="POST"
              action="/tripFolders/{{tripFolder.id}}?_method=DELETE"
              class="delete-form"
            >
              <button class="folder-form-submit-button delete-button" type="submit">
                <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">delete_sweep</span>
                Delete
              </button>
            </form>
          {{/if}}
      </div>
      {{> errorMessage}}
      {{> folderPageHeader}}
      <ul class="folders-list">
        {{#each tripFiles}}
          <a href="/tripFolders/{{../tripFolder.id}}/{{this.id}}">
            <li class="folder-list-item">
              <div class="folder-name">
                <span
                  class="material-symbols-outlined folder-list-icon image-icon"
                  style="font-variation-settings: 'FILL' 1;"
                >
                  image
                </span>
                <div class="ellipsis-overflow">
                  {{this.title}}
                </div>
              </div>
              <p class="dimmed">{{convertReadableDate this.userSetDate}}</p>
              <div class="dimmed author-name">
                <span class="material-symbols-outlined user-icon" style="font-variation-settings: 'FILL' 1;">account_circle</span>
                <div class="ellipsis-overflow">{{#if (equals this.uploadedByName ../user.username)}}Me{{else}} <div class="file-author-name ellipsis-overflow">{{this.uploadedByName}}</div> {{/if}}</div>
              </div>
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
