<h2>{{tripFolder.folderName}}</h2>
<h3>Users:
  {{#each usernames}}{{this}} {{/each}}
</h3>
{{> errorMessage}}
<ul>
  <li><a href="/tripFolders/{{tripFolder.id}}/editFolder">Edit Folder Information</a></li>
  <li><a href="/tripFolders/{{tripFolder.id}}/addUser">Add User</a></li>
  <li><a href="/tripFolders/{{tripFolder.id}}/addFile">Add Trip File</a></li>
  <li>
    {{#if tripFolder.isShared}}
      <form action="/tripFolders/{{tripFolder.id}}/removeUser?_method=PUT" method="POST">
        <button type="submit">Leave</button>
      </form>
    {{else}}
      <form
        method="POST"
        action="/tripFolders/{{tripFolder.id}}?_method=DELETE"
      >
        <button type="submit">Delete</button>
      </form>
    {{/if}}
  </li>
  {{#if (folderIsNotEmpty tripFolder)}}
  <li>
    <form action="/tripFolders/{{tripFolder.id}}" method="GET">
      <label>Sort by</label>
      <select name="sortBy">
        <option value="">-- Select Option --</option>
        <option value="setDate" {{#if (equals sortBy "setDate")}}selected{{/if}}>Date</option>
        <option value="uploadDate" {{#if (equals sortBy "uploadDate")}}selected{{/if}}>Upload Date</option>
        <option value="title" {{#if (equals sortBy "title")}}selected{{/if}}>Title</option>
      </select>
      <label>Filter by User</label>
      <select name="filterUser">
        <option value="">-- Select User --</option>
        {{#each usernames}}
          <option value="{{this}}" {{#if (equals ../filterUser this)}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>
      <button type="submit">Filter</button>
    </form>
  </li>
  {{/if}}
</ul>
{{#each tripFiles}}
  <a href="/tripFolders/{{../tripFolder.id}}/{{this.id}}">
    <img src="{{this.imagePath}}" alt="{{this.title}}" height="150" width="100">
  </a>
{{/each}}
