<div>
  <h2>{{tripFolder.folderName}}</h2>
  <a href="/tripFolders/{{tripFolder.id}}/editFolder">Edit Folder Information</a>
</div>
<h3>Users:
  {{#each usernames}}{{this}} {{/each}}
</h3>
{{> errorMessage}}
<ul>
  <li><a href="/tripFolders/{{tripFolder.id}}/addUser">Add User</a></li>
  <li><a href="/tripFolders/{{tripFolder.id}}/addFile">Add Trip File</a></li>
  <li>
    {{#if tripFolder.isShared}}
      <form action="/tripFolders/{{tripFolder.id}}/removeUser?_method=PUT" method="POST">
        <button type="submit">Leave</button>
      </form>
    {{else}}
      <form
        method="POST"
        action="/tripFolders/{{tripFolder.id}}?_method=DELETE"
      >
        <button type="submit">Delete</button>
      </form>
    {{/if}}
  </li>
</ul>
{{#each tripFiles}}
  <a href="/tripFolders/{{tripFolder.id}}/${{this.id}}">
    <img src="{{this.imagePath}}" alt="{{this.title}}">
  </a>
{{/each}}